<h2><%= link_to 'company', new_company_path %></h2>
<h2><%= link_to 'country', new_country_path %></h2>
<h2><%= link_to 'images', new_image_path %></h2>
<h2><%= link_to 'places', new_place_path %></h2>
<h2><%= link_to 'regions', new_region_path %></h2>
<h2><%= link_to 'state', new_state_path %></h2>
<h2><%= link_to 'user_roles', new_user_role_path %></h2>
<h2><%= link_to 'user_regions', new_user_region_path %></h2>
<h2><%= link_to 'city', new_city_path %></h2>
<h2><%= link_to 'nodes', new_node_path %></h2>
