<p>
  <strong>User_id:</strong>
  <%= @images.user_id %>
</p>
 
<p>
  <strong>Real_name:</strong>
  <%= @images.real_name %>
</p>

<p>
  <strong>Image_name:</strong>
  <%= @images.image_name %>
</p>
<%= link_to 'Edit', edit_image_path %>
<%= link_to 'Back',  new_image_path %>
 
